html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 0px;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
}

main {
    margin: 0px auto auto auto;
}

.interface {
    margin-bottom: 4px;
    border: solid 3px black;
    font-size: 18px;
}

ul {
    margin: 0px;
    padding: 10px;
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.colorPanel {
    flex: 0 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sample {
    height: 50px;
    width: 50px;
    background-color: black;
    border: 2px dashed black;
}

.colorControls {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.colorPanel button {
    flex: 1 1 0;
    padding: 5px;
    border-radius: 16px;
    font-size: 18px;
}

.brightnessPanel {
    flex: 0 1 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brightnessControls {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.brightnessControls button {
    flex: 1 1 0;
    padding: 5px;
    border-radius: 16px;
    font-size: 18px;
}

.sizePanel {
    flex: 0 1 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#sizeValue {
    margin: 0px auto;
    text-align: center;
    font-size: 15px;
}

.apply {
    flex: auto;
    padding: 5px;
    border-radius: 16px;
    font-size: 18px;
}

.grid {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    border: double 5px black;
    background-color: azure;
}

.cell {
    background-color: white;
    border: solid 1px lightgray;
}

button {
    background-color: white;
}

footer {
    flex: none;

    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
}

.highlight {
    background-color: blue;
    color: white;
}